<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      Minimo privilegio: solo se piden los permisos que una funcion concreta
      necesita, y cada uno esta justificado en docs/adr/0006-permisos.md y en la
      ficha de la tienda.

      - POST_NOTIFICATIONS: avisos de gastos y reembolsos del grupo.
      - CAMERA: fotografiar el ticket. El reconocimiento de texto ocurre entero
        en el dispositivo; la foto no sale de aqui salvo que el usuario decida
        adjuntarla al gasto.

      No se pide almacenamiento: exportar e importar usan el selector del
      sistema, que da acceso solo al fichero elegido.
    -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- La camara no es obligatoria: sin ella se pueden seguir metiendo los
         gastos a mano y leer tickets desde la galeria. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:label="ShardPay"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="shardpay_messages" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="shardpay" android:host="join" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="shardpay.app"
                    android:pathPrefix="/join" />
            </intent-filter>

            <!--
              Asociacion de la extension propia .shardpay.bak, para poder abrir
              una copia de seguridad desde el gestor de archivos o desde el
              correo. Se declaran las dos vias porque los gestores de archivos
              son incoherentes: unos mandan el tipo MIME correcto y otros
              octet-stream con la extension en la ruta.
            -->
            <intent-filter android:label="@string/backup_file_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/vnd.ghatostudio.shardpay.backup" />
            </intent-filter>
            <intent-filter android:label="@string/backup_file_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern=".*\\.shardpay\\.bak" />
                <data android:pathPattern=".*\\..*\\.shardpay\\.bak" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
